
.WORK{
    stroke-width: 10;
    stroke: rgba(138, 202, 162, 0.205);
}

.PROTECTED{
    stroke-width: 10;
    stroke: rgba(138, 173, 202, 0.205);
}

.ALARM {
    stroke-width: 10;
    stroke: rgba(138, 173, 202, 0.205);
}